<h1>Topics Management</h1>
<ul>
    {{#each model as |topic|}}
      <li>{{#link-to 'topics.topic' topic}}{{topic.name}}{{/link-to}}</li>
    {{/each}}
</ul>

{{#if session.isAuthenticated}}
	<p class="inner_info_button">{{#link-to 'topics.create'}}Create topic{{/link-to}}</p>
{{else}}
	<p>Please login to create a topic</p>
{{/if}}
