<h3>Topics Management</h3>
<p><strong>All topics displayed below are being filtered based on your search above</strong>.</p>
<ul class="topics_index_ul">
    {{#each filteredTopics as |topic|}}
  <li>
    {{#link-to 'topic' topic class="button_type1_normal"}}{{capitalize topic.name}}{{/link-to}}
    <button class="button_type1_topic_small" {{action "setTopic" topic}}>Set as search topic</button>
  </li>
    {{/each}}
</ul>

{{#if session.isAuthenticated}}
  {{#link-to 'topics.create' class="button_type1_normal"}}Create topic{{/link-to}}
{{else}}
  <p class="login_required_warning">Please login to create a topic</p>
{{/if}}
