
<table class="commands-buttons">
	<thead>
    <tr>
    </tr>
	</thead>
  <tbody>
    <tr>
      <td> 
<%= button_to "Reset Data", clear_info_path(current_user.id),method: :post, data: { confirm: "Are you sure?"} %>
      </td>
      <td> 
<%= button_to "Close Account", user_path(current_user.id), method: :delete, data: { confirm: "Are you sure?"} %>
      </td>
    </tr>
  </tbody>
</table>

