<div class="left-sidebar">
  <table> 
    <% @genres.each do |genre| %>
      <tr>
  			<td><%= genre.genre_name %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="shared-panel">
</div>

<div class="right-sidebar">
  <table> 
    <% @fact_types.each do |type| %>
      <tr>
  			<td><%= type.fact_name %></td>
      </tr>
    <% end %>
  </table>
</div>
