<h1>Forum</h1>
<ul>
    {{#each filteredPosts as |post|}}
      <li>{{#link-to 'post' post}}{{post.title}}{{/link-to}}</li>
    {{/each}}
</ul>

{{#if session.isAuthenticated}}
	<li>{{#link-to 'posts.create'}}Create Post{{/link-to}}</li>
{{else}}
	<li>Please login to create a post</li>
{{/if}}


