html {
  min-width: 800px;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
}
body.ember-application {
  min-width: 800px;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
}
