// Bourbon Neat outer-container Setting
$max-width: 1088px;

// Typography
$sans-serif: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
$base-font-size: 15px;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// Body Color
$base-body-color: #fff;

// Named Colors
$blue: #3c7e9d;
$gray: #464852;
$green: #59ad51;
$red: #ca133d;
$orange: #ff6a00;

// Font Colors
$base-font-color: #3e3e3e;
$base-accent-color: $blue;

// Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 8%);

// Border color
$base-border-color: #ddd;

// Header Colors
$header-background-color: $gray;
$header-font-color: #fafafa;

// Flash Colors
$alert-color: $red;
$notice-color: rgba($base-accent-color, 0.8);

// Form Colors
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: lighten($gray, 40%);
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 1px 2px rgba(darken($form-border-color-focus, 5), 0.5);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

// Shared Button Colors
$button-type-1-color: #FFFFFF;
$button-type-1-bg: $base-accent-color;

$button-bar-color: #000000;
$button-bar-bg: #ddd;

// Tag specific button colors
$button-category-color: #fff;
$button-category-bg: #3A60D1;

$button-genre-color: #fff;
$button-genre-bg: #52589E;

$button-topic-color: #000000;
$button-topic-bg: #b3fffc;

$button-fact-type-color: #fff;
$button-fact-type-bg: #AA816B;

$button-bar-post-date-color: #fff;
$button-bar-post-date-bg: #D1593A;

