<p class="center_text"><strong>IE 11 or older not supported. Use Edge instead.</strong></p>
<p class="center_text"><strong>You are currently using the source code from Deovandski/Fakktion master branch.</strong></p>
