<h5>Welcome to Fakktion Heroku testing server!</h5>
<p class="frontend_index center_text">SSL is not enabled on this server, so do not use personal information!</p>
<p>Please see Issue <a href="https://github.com/Deovandski/Fakktion/issues/24" target="_blank">#24</a> for upcoming features.</p>
