<p class="center_text"><strong>IE 11 or older not supported. Use Edge instead.</strong></p>
<p class="frontend_index"><strong>PLEASE DO NOT USE PERSONAL INFORMATION!</strong><br> Your connection is not currently being secured with SSL!</p>
<p> <b>Fakktion Alpha</b> is now available! Please see Issue <a href="https://github.com/Deovandski/Fakktion/issues/24" target="_blank">#24</a> for upcoming features.</p>
