<div class="post_comments_container">
  <h5>Comments</h5>
  <ol class="comment_ol">
    {{#each sortedComments as |comment|}}
      <li>{{render "post.comment.index" comment}}</li>
    {{/each}}
  </ol>
  <br/>
  {{#if session.isAuthenticated}}
    {{#if isBanned}}
      <p class="login_required_warning">You cannot create comments due to your reputation!</p>
    {{else}}
      <p>{{render "post.comments.create" model}}</p>
    {{/if}}
  {{else}}
    <p class="login_required_warning">Please login to create Comments</p>
  {{/if}}
</div>
