<div class="post_comments_container">
  <h5>Comments</h5>
  <ol>
    {{#each model.comments as |comment|}}
      <li>{{render "post.comment.index" comment}}</li>
    {{/each}}
  </ol>
  <br/>
  {{#if session.isAuthenticated}}
    <p>{{render "post.comments.create" model}}</p>
  {{else}}
    <p class="login_required_warning">Please login to comment</p>
  {{/if}}
</div>
