<h2>New Category</h2>

<form>
  <div class="input_block_type1">
    <label class="first_label">Name:</label>
    <label class="input_wrapper">{{input value=name}}</label>
    <label class="second_label">{{verifyCategoryName}}</label>
  </div><br/>
  {{#if session.isAuthenticated}}
    <button class="button_type1_normal" {{action "create"}}>Create Category</button>
  {{else}}
    <p class="login_required_warning">Please login to create a category</p>
  {{/if}}
</form>
