<h2>New Category</h2>

<form>
  <div class="input_block_type1">
    <label class="first_label">Name:</label>
    <label class="input_wrapper">{{input value=name}}</label>
    <label class="second_label">{{verifyCategoryName}}</label>
  </div><br/>
  <button class="button_type1_normal" {{action "create"}}>Create Category</button>
</form>
