<h1>Fact Types Management</h1>
<ul>
    {{#each model as |factType|}}
      <li>{{#link-to 'factType' factType}}{{capitalize factType.name}}{{/link-to}}</li>
    {{/each}}
</ul>

{{#if session.isAuthenticated}}
  {{#link-to 'factTypes.create' class="button_type1_normal"}}Create Fact type{{/link-to}}
{{else}}
  <p class="login_required_warning">Please login to create a Fact Type</p>
{{/if}}
