<h1>Fact Types Management</h1>
<ul>
    {{#each model as |factType|}}
      <li>{{#link-to 'factTypes.factType' factType}}{{factType.name}}{{/link-to}}</li>
    {{/each}}
</ul>

{{#if session.isAuthenticated}}
	<p class="inner_info_button">{{#link-to 'factTypes.create'}}Create Fact type{{/link-to}}</p>
{{else}}
	<p>Please login to create a Fact Type</p>
{{/if}}
