body.ember-application header {
	@include clearfix;
	background-color: $header-background-color;
	color: #fff;
	font-family: 'Questrial', sans-serif;
	top:0;
	right:0px;
	left:0px;
	width:100%;
	height: 50px;
	position:absolute;
	.outer-container {
		width: 100%;
		height:100%;
	}
	a {
		@include transition(all 0.1s ease);
	}
	.branding {
		width: 50%;
		display: inline-block;
		float: left;
		text-align: left;
		.image_branding {
			float: left;
			margin-right: 10px;
		}
		.text_branding {
			line-height: 50px;
			text-align: center;
			float: left;
			font-size: 16px;
			li {
				color: darken($header-font-color,15%);
			}
		}
	}

	nav {
		height:100%;
		width:50%;
		float: right;
		text-align: right;
	}
	ul {
		width: 100%;
		height: 100%;
		display: inline-block;
		list-style-type: none;
	}
	li {
		line-height: 50px;
		text-align: center;
		height: 100%;
		display: inline-block;
		margin-left: 3px;
		margin-right: 3px;
		a {
			line-height: 50px;
			text-align: center;
			border-bottom: 2px solid $header-background-color;
			color: $header-font-color;
			font-weight: 300;
			letter-spacing: 2px;
			text-decoration: none;
			text-transform: uppercase;
			&:hover {
				border-bottom: 2px solid $header-font-color;
				color: lighten($header-font-color, 12%);
			}
		}
		&.active a {
			color: #fff;
			font-weight: 400;
		}
	}
}

