body.ember-application main {
  bottom:50px;
  top:50px;
  left:0px;
  right:0px;
  width: 100%;
  position:absolute;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  .left_sidebar {
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 210px;
    max-width: 230px;
    height: 100%;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    .genres_div_type_solo {
      height: 85%;
      width: 100%;
      border-width: 3px;
      border-bottom-style: solid;
      position: relative;
    }
    .categories_div_type_solo {
      width: 100%;
      height: 85%;
      border-width: 3px;
      border-bottom-style: solid;
      position: relative;
    }
    .genres_div_type_dual {
      height: 50%;
      width: 100%;
      border-width: 3px;
      border-bottom-style: solid;
      position: relative;
    }
    .categories_div_type_dual {
      height: 50%;
      width: 100%;
      border-width: 3px;
      border-bottom-style: solid;
      position: relative;
    }
  }
  .central {
    overflow-x: hidden;
    overflow-y: scroll;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    list-style-type:none;
    text-align: center;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 3px;
    padding-bottom: 20px;
    .central_panel {
      width: auto;
      max-width: 630px;
      height: 80px;
      border-bottom-style: solid;
      border-left-style: solid;
      border-right-style: solid;
      border-width: 2px;
      margin-left: auto;
      margin-right: auto;
      .central_upper_panel {
        height: 30px;
        width: 100%;
        .genre_tagging {
          font-size: 12px;
          font-style: normal;
          overflow:hidden;
          text-overflow:ellipsis;
          float: left;
          width: 25%;
          height: 100%;
          border-right-style: solid;
          border-bottom-style: solid;
          border-width: 1px;
        }
        .fact_type_tagging{
          font-size: 12px;
          font-style: normal;
          overflow:hidden;
          text-overflow:ellipsis;
          float: left;
          width: 25%;
          height: 100%;
          border-left-style: solid; 
          border-right-style: solid;
          border-bottom-style: solid;
          border-width: 1px;
        }
        .category_tagging {
          font-size: 12px;
          font-style: normal;
          overflow:hidden;
          text-overflow:ellipsis;
          float: left;
          width: 25%;
          height: 100%;
          border-left-style: solid; 
          border-right-style: solid;
          border-bottom-style: solid;
          border-width: 1px;
        }
        .post_date_tagging {
          font-size: 12px;
          font-style: normal;
          overflow:hidden;
          text-overflow:ellipsis;
          float: left;
          width: 25%;
          height: 100%;
          border-left-style: solid; 
          border-bottom-style: solid;
          border-width: 1px;
        }
      }
      .central_lower_panel {
        height: 50px;
        width: 100%;
        border-bottom-style: solid;
        border-width: 3px;
        .topic_search {
          height: 100%;
          width: 60%;
          float: left;
          height: 100%;
          border-top-style: solid; 
          border-bottom-style: solid;
          border-width: 1px;
          .topic_search_input {
            height: 100%;
            width: 30%;
            float: left;
            border-left-style: solid;
            border-right-style: solid;
          }
          .topic_search_text {
            height: 100%;
            width: 70%;
            float: left;
          }
        }
        .topic_tagging {
          label {
            font-size: 14px;
            font-style: normal;
            overflow:hidden;
            text-overflow:ellipsis;
          }
          float: left;
          width: 35%;
          height: 100%;
          border-top-style: solid; 
          border-bottom-style: solid;
          border-width: 1px;
        }
        .topic_tagging_settings {
          float: left;
          width: 5%;
          height: 100%;
          border-top-style: solid; 
          border-bottom-style: solid;
          border-width: 1px;
        }
      }
    }
    .panel_toggler{
      margin: 10px auto 10px auto;
      width: auto;
      max-width: 210px;
      height: 20px;
      display: flex;
      .panel_toggler_left{
        flex-grow: 1;
        flex-direction: column;
        flex-wrap: wrap;
      }
      .panel_toggler_central{
        flex-grow: 1;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 10px;
        margin-left: 10px;
      }
      .panel_toggler_right{
        flex-grow: 1;
        flex-direction: column;
        flex-wrap: wrap;
      }
    }
    .shared_panel {
      margin: 0px;
    }
  }
  .right_sidebar {
    min-width: 210px;
    max-width: 230px;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    float: left;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    .fact_types_div_type_solo {
      height: 85%;
      width: 100%;
      border-width: 3px;
      border-bottom-style: solid;
      position: relative;
    }      
    .posting_dates_div_type_solo {
      height: 85%;
      width: 100%;
      border-width: 3px;
      border-bottom-style: solid;
      position: relative;
    }
    .fact_types_div_type_dual {
      width: 100%;
      height: 50%;
      border-width: 3px;
      border-bottom-style: solid;
      position: relative;
    }      
    .posting_dates_div_type_dual {
      width: 100%;
      height: 50%;
      border-width: 3px;
      border-bottom-style: solid;
      position: relative;
    }

  }
}
