body.ember-application main {
  bottom:50px;
  top:50px;
  left:0px;
  right:0px;
  width: 100%;
  position:absolute;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  .left_sidebar, .right_sidebar {
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 210px;
    max-width: 230px;
    height: 100%;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    .sidebar_sub {
      width: 100%;
      border-width: 3px;
      display: flex;
      flex-direction: column;
      min-height: 30%;
      max-height: 70%;
      .tag_h5 {
        flex: none;
        height: 25px;
        width: 100%;
        margin-top: 3px;
        margin-bottom: 3px;
        text-align: center;
      }
      .tag_listing {
        flex: 1;
        width:100%;
        margin: 0px;
        overflow-y: scroll;
        list-style-type:none;
        text-align: center;
        padding: 0px;
        .tag_listing_search{
          flex: none;
          height: 50px;
          margin-right: 10px;
          margin-left: 10px;
          font-weight: bold;
          .factTypeInput{
            color: $button-fact-type-bg;
          }
          .genreInput{
            color: $button-genre-bg;
          }
          .categoryInput{
            color: $button-category-bg;
          }
        }
        li:nth-child(n) {
          margin-top: 4px;
          margin-bottom: 4px;
        }
      }
      .tag_no_result{
        flex: 1;
        height: 25px;
        width: 100%;
        margin-top: 3px;
        margin-bottom: 3px;
        text-align: center;
      }
      .button_toggler{
        flex: none;
        height: 25px;
        width: 100%;
        text-align: center;
        margin-top: 0px;
      }
    }
  }
  .central {
    min-height: 100%;
    list-style-type:none;
    text-align: center;
    border-width: 3px;
    padding-bottom: 20px;
    .central_panel {
      width: auto;
      max-width: 630px;
      height: 80px;
      border-bottom-style: solid;
      border-left-style: solid;
      border-right-style: solid;
      border-width: 2px;
      margin-left: auto;
      margin-right: auto;
      .central_upper_panel {
        height: 30px;
        width: 100%;
        display: flex;
        .central_upper_panel_sub {
          flex-direction: row;
          font-size: 12px;
          font-style: normal;
          overflow:hidden;
          text-overflow:ellipsis;
          width: 25%;
          height: 100%;
          border-right-style: solid;
          border-bottom-style: solid;
          border-width: 1px;
        }
      }
      .central_lower_panel {
        height: 50px;
        width: 100%;
        border-bottom-style: solid;
        border-width: 3px;
        .topic_search {
          height: 100%;
          width: 60%;
          float: left;
          height: 100%;
          border-top-style: solid; 
          border-bottom-style: solid;
          border-width: 1px;
          .topic_search_input {
            height: 100%;
            width: 30%;
            float: left;
            border-left-style: solid;
            border-right-style: solid;
            background-color: #b3fffc;
            font-weight: bold;
          }
          .topic_search_text {
            height: 100%;
            width: 70%;
            float: left;
            background-color: #b3fffc;
            font-weight: bold;
          }
        }
        .topic_tagging {
          background-color: #b3fffc;
          color: #333;
          font-weight: bold;
          label {
            font-size: 14px;
            font-style: normal;
            overflow:hidden;
            text-overflow:ellipsis;
          }
          float: left;
          width: 35%;
          height: 100%;
          border-top-style: solid; 
          border-bottom-style: solid;
          border-width: 1px;
        }
        .topic_tagging_settings {
          background-color: #b3fffc;
          float: left;
          width: 5%;
          height: 100%;
          border-top-style: solid; 
          border-bottom-style: solid;
          border-width: 1px;
        }
      }
    }
    .panel_toggler{
      margin: 10px auto 10px auto;
      width: auto;
      max-width: 210px;
      height: 20px;
      display: flex;
      .panel_toggler_left{
        flex-grow: 1;
        flex-direction: column;
        flex-wrap: wrap;
      }
      .panel_toggler_central{
        flex-grow: 1;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 10px;
        margin-left: 10px;
      }
      .panel_toggler_right{
        flex-grow: 1;
        flex-direction: column;
        flex-wrap: wrap;
      }
    }
    .shared_panel {
      min-height: 100%;
      margin: 0px;
  overflow-y: scroll;
    }
  }
}
