// Place all the styles related to the shared controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
  line-height: $base-line-height;
  margin: 0 0 ($base-line-height * .5);
  font-family: $form-font-family;
  font-size: $form-font-size;
}

a {
  color: $base-link-color;
  font-family: $form-font-family;
  font-size: $form-font-size;
  @include transition(color 0.1s linear);

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
}

abbr, acronym {
  border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 ($base-line-height / 2);
}

hgroup {
  margin-bottom: $base-line-height / 2;
}

del {
  color: lighten($base-font-color, 15);
}

pre {
  font-family: "Menlo", "Monaco", monospace;
  margin: 0;
  padding: 0;
}

code {
  background-color: darken($base-body-color, 3%);
  border: 1px solid $base-border-color;
  border-radius: $base-border-radius;
  font-family: "Menlo", "Monaco", monospace;
  font-size: 0.95em;
  margin-left: 1px;
  margin-right: 1px;
  padding: 0 4px;
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\\2014 \\00A0';
  }
}


p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

//Tags shared code

.inner_info_button {
  text-align: center;
  font-weight: bold;
  border-left-style: solid; 
  border-right-style: solid;
  border-top-style: solid; 
  border-bottom-style: solid;
  border-width: 1px;
}
.inner_info {
  text-align: center;
  font-weight: bold;
}

// Standard size input blocks
.input_block_type1 {
  width: 100%;
  line-height: 40px;
  text-align: left;
  height: 40px;
  .first_label {
    float: left;
    vertical-align: middle;
    width: 25%;
    height: 100%;
  }
  .input_wrapper {
    height: 100%;
    width: 50%;
    .ember-text-field {
      float: center;
      height: 100%;
    }
  }
  .second_label {
    color: $orange;
    text-align: left;
    float: right;
    width: 25%;
    height: 100%;
    font-size: 80%;
  }
}

.input_block_type2 {
  width: 100%;
  line-height: 40px;
  text-align: left;
  height: 40px;
  .first_label {
    float: left;
    vertical-align: middle;
    width: 25%;
    height: 100%;
  }
  .input_wrapper {
    height: 100%;
    width: 50%;
    .ember-text-field {
      float: center;
      height: 100%;
    }
  }
  .second_label {
    color: $orange;
    text-align: left;
    float: right;
    width: 25%;
    height: 100%;
    font-size: 80%;
  }
}
.input_block_typeLogin {
  width: 100%;
  line-height: 40px;
  text-align: right;
  height: 40px;
  .first_label {
    float: left;
    vertical-align: middle;
    margin-right: 10px;
    width: 30%;
    height: 100%;
  }
  .input_wrapper {
    float: left;
    height: 100%;
    width: 40%;
    .ember-text-field {
      height: 100%;
    }
  }
}
.input_block_type3 {
  width: 100%;
  line-height: 40px;
  text-align: left;
  height: 40px;
  .first_label {
    float: left;
    vertical-align: middle;
    width: 25%;
    height: 100%;
  }
  .input_wrapper {
    height: 100%;
    width: 50%;
    .ember-text-field {
      float: center;
      height: 100%;
    }
  }
  .second_label {
    color: $orange;
    text-align: left;
    float: right;
    width: 25%;
    height: 100%;
    font-size: 80%;
  }
}

.input_block_comment {
  width: 100%;
  line-height: 40px;
  text-align: left;
  height: 40px;
  .input_wrapper {
    height: 100%;
    width: 75%;
    .ember-text-field {
      float: center;
      height: 100%;
    }
  }
  .feedback_wrapper {
    text-align: left;
    float: right;
    width: 25%;
    height: 100%;
    font-size: 80%;
  }
}

.input_block_typeUser {
  width: 100%;
  line-height: 40px;
  text-align: left;
  height: 40px;
  .first_label {
    float: left;
    vertical-align: middle;
    width: 25%;
    height: 100%;
  }
  .input_wrapper {
    height: 100%;
    width: 50%;
    .ember-text-field {
      float: center;
      height: 100%;
    }
  }
  .second_label {
    color: $orange;
    text-align: left;
    float: right;
    width: 25%;
    height: 100%;
    font-size: 80%;
  }
}

.input_block_typeUser_date {
  width: 100%;
  line-height: 40px;
  text-align: left;
  height: 40px;
  .first_label {
    float: left;
    vertical-align: middle;
    width: 25%;
    height: 100%;
  }
  .input_wrapper_date {
    height: 40px;
    height: 100%;
    width: 75%;
    float: right;
    .month_input {
      height: 100%;
      width: 60px;
      float: left;
    }
    .month_input_label {
      float: left;
      color: $orange;
      text-align: left;
      height: 100%;
      font-size: 80%;
      width: 40px;
      margin: 0px 0px 0px 10px;
    }
    .day_input {
      float: left;
      height: 100%;
      width: 60px;
    }
    .day_input_label {
      float: left;
      color: $orange;
      text-align: left;
      height: 100%;
      font-size: 80%;
      width: 40px;
      margin: 0px 0px 0px 10px;
    }
    .year_input {
      float: left;
      height: 100%;
      width: 35px;
      width: 75px;
    }
    .year_input_label {
      float: left;
      color: $orange;
      text-align: left;
      height: 100%;
      font-size: 80%;
      width: 200px;
      margin: 0px 0px 0px 10px;
    }
   .input_separator{
      float: left;
      height: 100%;
      margin: 0px 15px 0px 0px;
    }
  }
}

.input_block_checkbox_typeUser {
  width: 100%;
  line-height: 40px;
  text-align: left;
  height: 40px;
  .first_label {
    float: left;
    vertical-align: middle;
    width: 30%;
    height: 100%;
  }
  .input_wrapper {
    height: 100%;
    width: 10%;
  }
  .second_label {
    color: $orange;
    text-align: left;
    float: right;
    width: 60%;
    height: 100%;
    font-size: 80%;
  }
}

.input_block_textArea {
  width: 100%;
  line-height: 40px;
  text-align: left;
  height: auto;
  .input_block_textArea_header {
    width: 100%;
    display: flex;
    .left_header {
      width: 50%;
      flex-grow: 1;
      flex-direction: column;
      flex-wrap: wrap;
	  margin-left: 5px;
	  margin-right: 5px;
    }
    .right_header {
      width: 50%;
      flex-grow: 1;
      flex-direction: column;
      flex-wrap: wrap;
	  margin-left: 5px;
	  margin-right: 5px;
    }
  }
  .input_block_textArea_body {
    width: 100%;
    display: flex;
    .input_wrapper {
      width: 50%;
      flex-grow: 1;
      flex-direction: column;
      flex-wrap: wrap;
	  textarea{
	    margin-left: 5px;
	    margin-right: 5px;
	    height: 250px;
	  }
    }
    .preview_wrapper {
      width: 50%;
      flex-grow: 1;
      flex-direction: column;
      flex-wrap: wrap;
	    margin-left: 5px;
	    margin-right: 5px;
	    height: 250px;
    }
  }
}
.loading{
  color: #fff;
  background-color: #000;
  width: 100%;
  height: 100%;
}
.login_required_warning{
  text-align: center;
  @include appearance(none);
  border: 0.2px solid darken($button-type-1-bg, 15%);
  border-radius: $base-border-radius;
  box-shadow: 0 0.4px 1px rgba(#000, 0.4);
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  outline: none;
  padding: 0.2em 0.2em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
}
