<div class="sidebar_sub">
	<div class="tag_header">
		<h5>Categories</h5>
		<div class="management_link">
			{{#link-to "categories.index" id='categoryManagementTootip' }}<img width="23px" height="23px" src="/assets/small_settings.png">{{/link-to}}
		</div>
		{{#tooltip-on-component target='#categoryManagementTootip' }}Manage Categories.{{/tooltip-on-component}}
	</div>
	<ul class="tag_listing">
		{{#each model.categories as |category|}}
			<li>
				<button class="button_type1_category" {{action "setCategory" category}}>
					<div class="tag_selection_container">
						<label class="tag_name">{{capitalize category.name}}</label>
						<label class="tag_posts"> {{counter-styler category.posts_count}}</label>
					</div>
				</button>
			</li>
		{{/each}}
	</ul>
</div>
