<div class="loading">
  <h2>Welcome to Fakktion!</h2>
  <h3 class="loading_text">Application is now loading...</h3>
  <p>If this loading page takes longer than 15 seconds, then your hardware may not meet the minimum specifications or a fatal server issue took place.</p>
  <p>Please open an issue on our <a href="https://github.com/Deovandski/Fakktion" target="_blank">Open Source code</a> with your issue.</p>
</div>
