<div class="loading">
<h1>Welcome to Fakktion!</h1>
<h2>Loading...</h2>
<h2>If this page takes longer than 15 seconds, 
then your hardware does not meet the minimum specifications.</h2>
<img height="50px" src="/assets/loading.gif">
</div>
