<div class="loading">
<h2>Welcome to Fakktion!</h2>
<p>If this loading page takes longer than 15 seconds, 
then your hardware does not meet the minimum specifications.</p>
<img height="300px" src="/assets/loading.gif">
<p>Contact @Deovandski for more information.</p>
</div>
