<label>Categories template</label>
<ul>
  {{#each model.categories as |categorie|}}
          <li><button{{action "selectCategorie" categorie}}>{{categorie.categoryName}}</button></li>
  {{/each}}
</ul>
