<nav>
	<ul>
		<li>
			{{#link-to 'adminMessages'}}Admin Messages{{/link-to}}
		</li>
		<li>
			{{#link-to 'support'}}Support{{/link-to}}
		</li>
		<li>
			{{#link-to 'privacyInfo'}}Privacy Info{{/link-to}}
		</li>
		<li>
			{{#link-to 'legalInfo'}}Legal Info{{/link-to}}
		</li>
	</ul>
</nav>
<label>Copyright© Fakktion 2014-2016</label>
