<nav>
	<ul>
		<li>
			{{#link-to 'index'}}Forum{{/link-to}}
		</li>
		<li>
			{{#link-to 'about'}}About{{/link-to}}
		</li>
		<li>
			{{#link-to 'privacy_info'}}Privacy Info{{/link-to}}
		</li>
		<li>
			{{#link-to 'legal_info'}}Legal Info{{/link-to}}
		</li>
		<li>
			{{#link-to 'support'}}Contact Us!{{/link-to}}
		</li>
	</ul>
</nav>
