<div class="outer-container">
	<div class="branding">
		<div class="image_branding">
			{{#link-to 'index'}}
				<img height="50px" src="/assets/UltraSmall_FakktionLogo.png">
			{{/link-to}}
		</div>
		<div class="text_branding">
			{{#if session.isAuthenticated}}
				<li class="small_login_info">
					{{#if sessionAccount.user}}
						Signed in as {{sessionAccount.user.display_name}}
					{{/if}}
				</li>
			{{else}}
				<li class="small_login_info">
					EXP v0.5
				</li>
			{{/if}}
		</div>
	</div>
	<nav>
		<ul>
			{{#if session.isAuthenticated}}
				{{#if isAdmin}}
					<li>
						{{#link-to 'adminPanel'}}Admin Panel{{/link-to}}
					</li>
				{{/if}}
				<li>
					{{#link-to 'user' sessionAccount.user.id}}Profile{{/link-to}}
				</li>
				<li>
     				<a {{action 'logout'}}>Logout</a>
				</li>
			{{else}}
				<li>
					{{#link-to 'users.create'}}SignUp{{/link-to}}
				</li>
				<li>
					{{#link-to "login"}}Login{{/link-to}}
				</li>
			{{/if}}
		</ul>
	</nav>
</div>
