<div class="outer-container">
	<div class="branding">
		{{#link-to 'index'}}Fakktion - Alpha Version{{/link-to}}
	</div>
	<nav>
		<ul>
			{{#if session.isAuthenticated}}
			<li>
            <p>Signed in as {{session.currentUser.display_name}}</p>
			</li>
			<li>
				{{#link-to 'user.index' session.currentUser.id}}Profile{{/link-to}}
			</li>
			<li>
				<a {{ action 'invalidateSession' }}>Logout</a>
			</li>
			{{else}}
			<li>
				{{#link-to 'users.create'}}SignUp{{/link-to}}
			</li>
			<li>
				{{#link-to 'login'}}Login{{/link-to}}
			</li>
			{{/if}}
		</ul>
	</nav>
</div>
