<img src="/assets/UltraSmall_FakktionLogo.png" {{action 'goHome'}}>
<nav>
  <ul>
    {{#if session.isAuthenticated}}
    <li>
      {{#if sessionAccount.user}}Signed in as {{sessionAccount.user.display_name}}{{/if}}
    </li>
    {{#if isAdmin}}
      <li>
        {{#link-to 'adminPanel'}}Admin{{/link-to}}
      </li>
    {{/if}}
    <li>
      {{#link-to 'user' sessionAccount.user.id}}Profile{{/link-to}}
    </li>
    <li>
      <a {{action 'logout'}}>Logout</a>
    </li>
  {{else}}
    <li>
      <strong>EXP v0.7 </strong>
    </li>
    <li>
      {{#link-to 'users.create'}}SignUp{{/link-to}}
    </li>
    <li>
      {{#link-to "login"}}Login{{/link-to}}
    </li>
  {{/if}}
	</ul>
</nav>
