<br/>
<h2>Welcome to Fakktion Version Alpha!</h2>
<label>This Alpha version is design to test load and stability! Fell free to hack into this website, but please be a friend and open an issue on <a href="https://github.com/Deovandski/Fakktion">Github</a> with your findings!</label><br/><br/>
<label>Data persistence is something that may not happen during Alpha</label><br/><br/>
<label>Please use a unique password and if possible dummy data like random birthdates, display names and full name.</label><br/>
<label>Recommendations or if you just want to stop by to say hi, please contact me on <a href="https://twitter.com/Deovandski">Twitter</a> or <a href="https://github.com/deovandski/fakktion">Github</a>.</label>

<h1>Forum</h1>
<ul>
    {{#each filteredPosts as |post|}}
      <li>{{#link-to 'post' post}}{{post.title}}{{/link-to}}</li>
    {{/each}}
</ul>

{{#if session.isAuthenticated}}
	<p class="inner_info_button">{{#link-to  'posts.create'}}Create Post{{/link-to}}</p>
{{else}}
	<p>Please login to create a post</p>
{{/if}}

{{outlet}}