<h1>Forum -- Index Page</h1>
    <ul>
    {{#each filteredPosts as |post|}}
      <li>{{#link-to 'post.show' post}}{{post.postName}}{{/link-to}}</li>
    {{/each}}
    </ul>
<label>{{session.secure.email}}</label>
