<h1>Forum -- Index Page</h1>
    <ul>
    {{#each filteredPosts as |post|}}
      <li>{{#link-to 'post' post}}{{post.title}}{{/link-to}}</li>
    {{/each}}
    </ul>
<label>{{session.secure.email}}</label>
<label>{{session.currentUser.id}}</label>

{{#if session.isAuthenticated}}
	<li>{{#link-to 'posts.create'}}Create Post{{/link-to}}</li>
{{else}}
	<li>Please login to create a post</li>
{{/if}}


