<h1>Temp Legal Info</h1>

<p>Information about legal Info will be displayed here</p>

<p>Resources used on this website:</p>

<p>Loading GIF is from <a href="http://s235.photobucket.com/user/Raine-100/media/Decorated%20images/Vocaloid_-_Hatsune_Miku.gif.html" target="_blank">Photobucket</a>.</p>

<p>Settings Icon is from <a href="http://www.iconarchive.com/show/circle-icons-by-martz90/settings-icon.html" target="_blank">Icon Archive</a>.</p>

<p>Magnifying Glass Icon is from <a href="https://commons.wikimedia.org/wiki/File:Magnifying_glass_icon.svg" target="_blank">Wikimedia Commons</a>.</p>
<p>Message Icon is from <a href="https://commons.wikimedia.org/wiki/File:Message-icon-grey.png" target="_blank">Wikimedia Commons</a>.</p>
