<h3>Fakktion Legal Information</h3>

<p class="frontend_index center_text">Legal Info under development</p>

<h4>Fakktion Relational Blog</h4>
<ol>
    <li><b>Fakktion Relational Blog</b> or abbreviated as Fakktion during this legal document, is a relational blog in which original idea was spearheaded by Dr. Anne Denton, and developed by Deovandski Skibinski Junior since October 2014.</li>
    <li><b>Fakktion</b> is the merge of <b>Fakt</b> and <b>Fikt</b> words which constitutes the main reason behind this blog's existence.</li>
    <li>Albeit this website, and the MIT Licensed Open Source Code, uses <b>Fakktion</b> as its logo and source of identification, the name corresponds to and only <b>Fakktion Relational Blog</b>. All other existings brands, names or organizations that carries the name Fakktion are no way in any shape or form associated with <b>Fakktion Relational Blog</b></li>
</ol>

<h4>User Content</h4>
<ol>
    <li>All user generated content in no way represents Fakktion or any of the people involved unless any of the individuals aforementioned does maintain an account in this website and identifies him/herself. In such event, the individual hold full responsability for all his/her opinions.</li>
    <li>All Post and Comments Links are not monitored, so Fakktion does hold responsability for any harm that they bring to your computer. With such statement, you as the Fakktion user, should exercise caution and only open any given link after verifying where it leads to.</li>
    <ul>
	<li>A possible way to verify the links credibility is by hovering your mouse over said link, and looking at the bottom left of your screen where a overlay text should appear with the full link. With this information, you may check the website at <a href="http://www.webutation.net/">Webutation</a>.</li>
	<li>Fakktion also recommends the usage of browser extensions that bloks Advertisement and forces HTTPS connection over HTTP in order to reinforce your browser security.</li>
    </ul>
</ol>

<h4>Privacy Info</h4>
<p>Please refer to the Privacy Info section</p>

<h4>Resources used on this website:</h4>



<p>Loading GIF is from <a href="http://s235.photobucket.com/user/Raine-100/media/Decorated%20images/Vocaloid_-_Hatsune_Miku.gif.html" target="_blank">Photobucket</a>.</p>
<p>Search Icon is from <a href="http://icons.veryicon.com/png/System/Black%20Glossy/Search.png" target="_blank">Veryicon</a>.</p>
<p>Settings Icon is from <a href="http://www.iconarchive.com/show/circle-icons-by-martz90/settings-icon.html" target="_blank">Icon Archive</a>.</p>
<p>Webpage Icon is from <a href="http://people.umass.edu/klement/tlp/index.html" target="_blank">UMassAmherst</a>.</p>

<p>Magnifying Glass Icon is from <a href="https://commons.wikimedia.org/wiki/File:Magnifying_glass_icon.svg" target="_blank">Wikimedia Commons</a>.</p>
<p>Message Icon is from <a href="https://commons.wikimedia.org/wiki/File:Message-icon-grey.png" target="_blank">Wikimedia Commons</a>.</p>
