<h2>Privacy Information</h2>

<p>By using this web app, you as the user agree that it is your responsibility to use a unique password for this website and that all of the content posted by you is public available. The lead developer strives for protecting your data from being tampered as much as he can from the extent of his ever growing knowledge. However, if Facebook and Apple cannot always keep one step ahead of hackers, then how can you expect that this website will be hack proof?</p>
<p>This website uses cookies for storing your session (user_id, email and authenticity token) alongside a CSRF Token for your protection.</p>
