<h2>Privacy Information</h2>

<h3>The short and sweet honest version</h3>
<p>By using this web app, you as the user agree that it is your 
responsibility to use a unique password for this website, and that all 
of posted content is publicly available. The lead developer strives for 
protecting your data from being tampered as
much as he can from the extent of his ever growing knowledge. 
However, if Facebook and Apple cannot always keep one step ahead of hackers, 
then how can you expect that this website will be hack proof?</p>

<h3>The legal version</h3>

<p>//TODO</p>
