<h1>Super User Panel</h1>

<p>This panel allows Super Users to promote administrators and users to become super users.This is the elite members where Fakktion entrust all website controls to including demoting admins and fully delete accounts.</p>