<h2>Using Fakktion in 10 steps:</h2>
<p>//TODO</p>
<h2>Site Rules</h2>
<ol>
  <li>Tags with low Elegibility (-20) will not be allowed on new posts, but such tags cannot be deleted from the system until there are no posts depending on it.</li>
  <li>Users with reputation of 100+ will automatically become admin.</li>
</ol>
<p>//TODO</p>
<h2>Contact Us:</h2>
<p>//TODO</p>
<p>@Deovandski</p>
