<h2>Everything Fakktion</h2>
<div class="left_text">
  <h3>Site Rules</h3>
  <ol>
    <li><h5>Users</h5></li>
    <ul class="extra_bottom_margin">
      <li>New Users starts with 0 reputation points, and you gain or lose reputation based or how respectful you are of other opinions, and how good you convey yours</li>
      <li>Accounts are non-recoverable, so do not forget your email and password</li>
      <li>Users with reputation higher than 500 will become <span class="info_super_user_boxed">Super Users</span>, and will be tagged as such through the cyan color</li>
      <li>Users with reputation higher than 1500 will become <span class="info_admin_user_boxed">Admins</span>, and will be tagged as such through the cyan color</li>
      <li>Users with reputation higher than 3000 will become <span class="info_legend_user_boxed">Legends</span>, and will be tagged as such through the cyan color</li>
    </ul>
  <li><h5>Tags</h5></li>
    <ul class="extra_bottom_margin">
      <li>Anyone can create tags, but only admins can edit them</li>
    </ul>
  <li><h5>Posts</h5></li>
    <ul class="extra_bottom_margin">
      <li>Users will be forbidden from creating Posts if their reputation becomes lower than -250</li>
      <li>Users will be forbidden from updating their own Posts if their reputation becomes lower than -50</li>
    </ul>
  <li><h5>Comments</h5></li>
    <ul class="extra_bottom_margin">
      <li>Users will be forbidden from creating Comments if their reputation becomes lower than -500</li>
      <li>Users will be forbidden from updating their own Comments if their reputation becomes lower than -150</li>
    </ul>
  <li><h5>Inner Comments</h5></li>
    <ul class="extra_bottom_margin">
      <li>Users will be forbidden from creating or updating their own Inner Comments if their reputation becomes lower than -100</li>
    </ul>
  <li><h5>Votes</h5></li>
    <ul class="extra_bottom_margin">
      <li>Users will be forbidden from voting or updating their votes if their reputation becomes lower than -200</li>
      <li>New users votes will be worth 1 reputation point</li>
      <li>Super Users votes will be worth 2 reputation point</li>
      <li>Admins votes will be worth 3 reputation point</li>
      <li>Legends votes will be worth 4 reputation point</li>
    </ul>
  </ol>
  <h3>Contact Us</h3>
    <p>For technical issues, please visit the <a href="https://github.com/Deovandski/Fakktion" target="_blank">Fakktion Github</a> page.</p>
</div>
