@import "imports";

body.ember-application footer {
  @include clearfix;
  border-top: 1px solid $base-border-color;
  padding: 0.5em 0;
  font-family: 'Questrial', sans-serif;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  

  .outer-container {
    @include outer-container;
  }

  .branding {
    display: inline-block;
    float: left;
    letter-spacing: 3px;
    text-transform: uppercase;

    a {
      color: #aaa;
      display: inline-block;
      font-size: 16px;
      padding: 10px;
      text-decoration: none;

      &:hover {
        color: #888;
      }

      i {
        position: relative;
        top: -2px;
      }
    }
  }

  nav {
    float: left;
  }

  ul {
    display: block;
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;

    a {
      color: #aaa;
      display: inline-block;
      font-size: 14px;
      letter-spacing: 1px;
      padding: 10px;
      text-decoration: none;

      &:hover {
        color: #888;
      }
    }
  }
}
