@import "imports";

body.ember-application main
{
    clear:both;
    float:left;      
    overflow:hidden;
	padding: 50px 0 50px 0;
	width: 100%;
	fieldset
	{
		background-color: #fff;
		border-radius: 5px;
	}
	.left_sidebar
	{
		float: left;
		text-align: center;
		border-width: 2px;
		border-style: solid;
		width: 20%;
		.genres_div
		{
			h5:nth-child(n)
			{
				text-align: center;
			}
			height: 50%;
			width: 100%;
			border-width: 3px;
			border-bottom-style: solid;
		}
		.categories_div
		{
			h5:nth-child(n)
			{
				text-align: center;
			}
			height: 50%;
			border-width: 3px;
			border-bottom-style: solid;
		}
	}
	.central
	{ 
		float: left;
		width: 60%;
		height: 100%;
		list-style-type:none;
		text-align: center;
		border-left-style: solid;
		border-right-style: solid;
		border-bottom-style: solid;
		border-width: 3px; 
		.central_panel
		{
			height: 20%;
			border-bottom-style: solid;
			border-width: 2px;
			.central_upper_panel
			{
				width: 100%;
				.genre_tagging
				{
					float: left;
					width: 25%;
					height: 30px;
					margin-top: 3px;
					border-left-style: solid; 
					border-right-style: solid;
					border-top-style: solid; 
					border-bottom-style: solid;
					border-width: 1px;
				}
				.fact_type_tagging
				{
					float: left;
					width: 25%;
					height: 30px;
					margin-top: 3px;
					border-left-style: solid; 
					border-right-style: solid;
					border-top-style: solid; 
					border-bottom-style: solid;
					border-width: 1px;
				}
				.category_tagging
				{
					float: left;
					width: 25%;
					height: 30px;
					margin-top: 3px;
					border-left-style: solid; 
					border-right-style: solid;
					border-top-style: solid; 
					border-bottom-style: solid;
					border-width: 1px;
				}
				.post_date_tagging
				{
					float: left;
					width: 25%;
					height: 30px;
					margin-top: 3px;
					border-left-style: solid; 
					border-right-style: solid;
					border-top-style: solid; 
					border-bottom-style: solid;
					border-width: 1px;
				}
			}
			.central_lower_panel
			{
				width: 100%;
				border-bottom-style: solid;
				border-width: 3px;
				.topic_search
				{
					float: left;
					width: 75%;
					height: 40px;
					border-left-style: solid; 
					border-right-style: solid;
					border-top-style: solid; 
					border-bottom-style: solid;
					border-width: 1px;
				}
				.topic_tagging
				{
					float: left;
					width: 25%;
					height: 40px;
					border-left-style: solid; 
					border-right-style: solid;
					border-top-style: solid; 
					border-bottom-style: solid;
					border-width: 1px;
				}
			}
		}      
		.shared_panel
		{
			height: 80%;
		}
	}
	.body_panel
	{
		width: 100%;
		height: 100%;
		text-align: center;
	}
	.right_sidebar
	{
		border-style: solid;
		border-width: 2px; 
		float: left;
		width: 20%;
		height: 100%;
		text-align: center;
		.fact_types_div
		{
			h5:nth-child(n)
			{
				text-align: center;
			}
			border-width: 3px;
			border-bottom-style: solid;
		}      
		.fact_posting_dates_div
		{
			h5:nth-child(n)
			{
				text-align: center;
			}
			border-width: 3px;
			border-bottom-style: solid;
		}  
	}
}
