<head>
  <h3>Fakktion - Code Samples</h3>
</head>
<body>
  <table>
    <tr>
      <td>
        <label>
          All posts with <%= @test_genre1.genre_name %>
        </label>
      </td>
    </tr>
    <% @test_genre1.posts.each do |item| %>
      <tr>
  			<td><%= item.post_name %></td>
      </tr>
    <% end %>
  </table>
  <br/>
  <br/>
  <br/>
  <table>
    <tr>
      <td>
        <label>
          All posts with <%= @test_genre2.genre_name %>
        </label>
      </td>
    </tr>
    <% @test_genre2.posts.each do |item| %>
      <tr>
  			<td><%= item.post_name %></td>
      </tr>
    <% end %>
  </table>
</body>
