@mixin button_type2_large($background-color: #39BDFF, $text-color: #000000) {
	width: 100%;
	height: 100%;
	@include appearance(none);
	background-color: $background-color;
	border: 1px solid darken($background-color, 15%);
	border-radius: $base-border-radius;
	box-shadow: 0 1px 2px rgba(#000, 0.4);
	color: $text-color;
	cursor: pointer;
	display: inline-block;
	font-size: $base-font-size;
	font-weight: bold;
	outline: none;
	margin: 0px;
	padding: 0.1em 0.3em;
	text-align: center;
	text-decoration: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	-webkit-font-smoothing: antialiased;

	&:hover {
		background-color: lighten($background-color, 18%);
		border-color: lighten($background-color, 25%);
		color: $text-color;
	}

	&:active {
		background-color: $background-color;
		border-color: $background-color;
		box-shadow: 0 1px 2px rgba(#000, 0.2);
		color: $text-color;
	}

	&.animate {
		@include transition(all 2s ease);
		&:hover {
			@include transform(scale(1.1));
		}
	}
}
