@mixin button_type1_active() {
     @include appearance(none);
    background: $button-type-active-bg;
    border: 1px solid $button-type-active-bg;
    border-radius: $base-border-radius;
    box-shadow: 0 1px 2px rgba(#000, 0.4);
    color: $button-type-1-color;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    padding: 0.5em 0.7em;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: auto !important;
    height: auto !important;
    -webkit-font-smoothing: antialiased;
    &:hover {
        background-color: lighten($button-type-active-bg, 2%);
        border-color: lighten($button-type-active-bg, 2%);
        color: $button-type-1-color;
    }
    &:active {
        background: $button-type-active-bg;
        border-color: $button-type-active-bg;
        box-shadow: 0 1px 2px rgba(#000, 0.2);
        color: $button-type-1-color;
    }
    &:visited {
        background: $button-type-active-bg;
        border-color: $button-type-active-bg;
        box-shadow: 0 1px 2px rgba(#000, 0.2);
        color: $button-type-1-color;
    }
    &.animate {
        @include transition(all 0.2s ease);
        &:hover {
            @include transform(scale(1.1));
        }
    }
}
