@mixin button_type1_smallest() {
  @include appearance(none);
  background-color: $button-type-1-bg;
  border: 0.2px solid darken($button-type-1-bg, 15%);
  border-radius: $base-border-radius;
  box-shadow: 0 0.4px 1px rgba(#000, 0.4);
  color: $button-type-1-color;
  cursor: pointer;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  outline: none;
  padding: 0.1em 0.1em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;

  &:hover {
    background-color: lighten($button-type-1-bg, 10%);
    border-color: lighten($button-type-1-bg, 10%);
    color: $button-type-1-color;
  }

  &:active {
    background-color: $button-type-1-bg;
    border-color: $button-type-1-bg;
    box-shadow: 0 1px 2px rgba(#000, 0.2);
    color: $button-type-1-color;
  }

  &.animate {
    @include transition(all 0.2s ease);
    &:hover {
      @include transform(scale(1.1));
    }
  }
}
