@mixin button_bar_downvote() {
  width: 100%;
  height: 100%;
  @include appearance(none);
  background: $button-bar-downvote-bg;
  border: 1px solid darken($button-bar-downvote-bg, 15%);
  border-radius: $base-border-radius;
  box-shadow: 0 1px 2px rgba(#000, 0.4);
  color: $button-bar-downvote-color;
  cursor: pointer;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  outline: none;
  margin: 0;
  padding: 0.1em 0.3em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;

  &:visited {
    background: $button-bar-downvote-bg;
    border-color: $button-bar-downvote-bg;
    box-shadow: 0 1px 2px rgba(#000, 0.2);
    color: $button-bar-downvote-color;
  }
  &:hover {
    background: darken($button-bar-downvote-bg, 15%);
    border-color: darken($button-bar-downvote-bg, 15%);
    color: $button-bar-downvote-color;
  }
  &:active {
    background: $button-bar-downvote-bg;
    border-color: $button-bar-downvote-bg;
    box-shadow: 0 1px 2px rgba(#000, 0.2);
    color: $button-bar-downvote-color;
  }
  &.animate {
    @include transition(all 2s ease);
    &:hover {
      @include transform(scale(1.1));
    }
  }
}
