@mixin button_type1_topic_small() {
     @include appearance(none);
    background-color: $button-topic-bg;
    border: 1px solid darken($button-topic-bg, 15%);
    border-radius: $base-border-radius;
    box-shadow: 0 1px 2px rgba(#000, 0.4);
    color: $button-topic-color;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    outline: none;
    padding: 0.1em 0.5em;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    &:hover {
        background-color: lighten($button-topic-bg, 10%);
        border-color: lighten($button-topic-bg, 10%);
        color: $button-topic-color;
    }
    &:active {
        background-color: $button-topic-bg;
        border-color: $button-topic-bg;
        box-shadow: 0 1px 2px rgba(#000, 0.2);
        color: $button-topic-color;
    }
    &.animate {
        @include transition(all 0.2s ease);
        &:hover {
            @include transform(scale(1.1));
        }
    }
}
