@mixin button_type1_category() {
  @include appearance(none);
  background-color: $button-category-bg;
  border: 1px solid $button-category-bg;
  border-radius: $base-border-radius;
  box-shadow: 0 1px 2px rgba(#000, 0.4);
  color: $button-category-color;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  outline: none;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  width: 90%;
  padding: 0px;
  margin-top: 1px;
  margin-bottom: 1.5px;

  &:hover {
    background-color: lighten($button-category-bg, 2%);
    border-color: lighten($button-category-bg, 2%);
    color: $button-category-color;
  }
  &:active {
    background-color: $button-category-bg;
    border-color: $button-category-bg;
    box-shadow: 0 1px 2px rgba(#000, 0.2);
    color: $button-category-color;
  }
  &.animate {
    @include transition(all 0.2s ease);
    &:hover {
      @include transform(scale(1.1));
    }
  }
}
