<div class="input_block_comment">
	<label class="input_wrapper">{{input value=text}}</label>
	
	<div class="feedback_wrapper">
		{{#if validComment}}
			<button class="button_type1" {{action "create"}}>Add Inner Comment</button>
		{{else}}
			<label>{{verifyText}}</label>
		{{/if}}
	</div>
</div>
