<div class="post_comments_container">
	<ul>
		{{#each model.inner_comments as |innerComment|}}
			<li>{{render "post.comment.innerComment.index" innerComment}}</li>
		{{/each}}
	</ul>
	<br/>
	{{#if session.isAuthenticated}}
		<p>{{render "post.comment.innerComments.create" model}}</p>
	{{else}}
		<p  class="login_required_warning">Please login to inner comment</p>
	{{/if}}
</div>
