<div class="post_comments_container">
  <ul class="inner_comment_ul">
    {{#each sortedInnerComments as |innerComment|}}
      <li>{{render "post.comment.innerComment.index" innerComment}}</li>
    {{/each}}
  </ul>
  {{#if session.isAuthenticated}}
    {{#if isBanned}}
      <p class="login_required_warning">You cannot create Inner comments due to your reputation!</p>
    {{else}}
      <div class="inner_comment_create">{{render "post.comment.innerComments.create" model}}</div>
    {{/if}}
  {{else}}
    <p class="login_required_warning">Please login to create Inner Comments</p>
  {{/if}}
</div>
