// Place all the styles related to the Comments and Inner Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Set overall organization
.post_comments_container {
  h5{
    text-align: center;
  }
  text-align: left;
  width: 100%;
}

// Comment
.comment_ol {
  li{
    margin-top: 10px;
    margin-bottom: 10px;
    ul{
      li {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
  
}
