// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post_index{
	width: 100%;
	.post_title_container{
		width: 100%;
		height: 35px;
		list-style-type:none;
		text-align: left;
		border-bottom-style: solid;
		border-width: 2px;
		margin-bottom: 5px;
		.title_info{
			border-right-style: solid;
			border-width: 1px; 
			width: 80%;
			float: left;
			height: 35px;
		
		}
		.owner_info{
			height: 35px;
			width: 20%;
			float: right;
			text-overflow:ellipsis;
			.owner_text_info_partial{
				width: 75%;
				text-overflow:ellipsis;
				float: left;
			
			}
			.owner_edit{
				width: 25%;
				text-overflow:ellipsis;
				float: right;
			
			}
			.owner_text_info{
				width: 100%;
				text-overflow:ellipsis;
			
			}
		}
	}
	.post_buttons_container{
		list-style-type:none;
		text-align: center;
		border-bottom-style: solid;
		border-width: 1px; 
		width: 100%;
		height: 35px;
		.more_info_button{
			float: left;
			width: 34%;
			height: 35px;
		}
		.fact_link_button{
			float: left;
			width: 33%;
			height: 35px;
			
		}
		.fiction_link_button{
			float: left;
			width: 33%;
			height: 35px;
			
		}
	}
	.post_tags_container{
		list-style-type:none;
		text-align: center;
		border-left-style: solid;
		border-right-style: solid;
		border-bottom-style: solid;
		border-top-style: solid;
		border-width: 1px; 
		width: 100%;
		height: 105px;
		.genre_topic_container{
			width: 100%;
			height: 35px;
			border-bottom-style: solid;
			border-width: 1px; 
			.genre_info_container{
				width: 50%;
				float: left;
				border-right-style: solid;
				border-width: 1px;
				height: 35px;
			
			}
			.topic_info_container{
				width: 50%;
				float: right;
				height: 35px;
			
			}
		}
		.fact_type_created_on_container{
			width: 100%;
			height: 35px;
			border-bottom-style: solid;
			border-width: 1px;
			.fact_Type_info_container{
				width: 50%;
				float: left;
				border-right-style: solid;
				border-width: 1px;
				height: 35px;
			
			}
			.created_on_info_container{
				width: 50%;
				float: right;
				height: 35px;
			
			}
		}
		.category_updated_on_container{
			width: 100%;
			height: 35px;
			border-bottom-style: solid;
			border-width: 1px; 
			.category_info_container{
				width: 50%;
				float: left;
				border-right-style: solid;
				border-width: 1px;
				height: 35px;
			
			}
			.updated_on_info_container{
				width: 50%;
				float: right;
				height: 35px;
			
			}
		}
	}
	.post_text_container{
		margin-top: 10px;
		height: 350px;
		list-style-type:none;
		text-align: left;
		width: 100%;
		overflow-y:scroll;
	
	}
	.post_comments_container{
		h5{
		text-align: center;
		
		}
		list-style-type:none;
		text-align: left;
		width: 100%;
		ol {
			width: 100%;
			li {
				padding: 0;
				margin: 15px;
				width: 100%;
				.label_title {
					padding: 0;
					list-style-type: none;
					text-overflow:ellipsis;
					border-width: 1px;
					width: 70%;
				}
				.label_views {
					font-weight: normal;
					text-overflow:ellipsis;
					border-style: solid;
					border-width: 1px;
					width: 10%;
				}
				.label_comments_count {
					font-weight: normal;
					text-overflow:ellipsis;
					border-style: solid;
					border-width: 1px;
					width: 10%;
				}
			}
		}
	}
}
