// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topics_index_ul{
    list-style-type: none;
    li {
      padding: 0;
      margin: 15px;
      width: 100%;
    }
}
