// Place all the styles related to the forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Ember side SCSS
@import "imports";

.ember_application
{

	width: 100%;
	.left_sidebar
	{ 
		@include span-columns(1.8);
		text-align: center;
		border-width: 3px;  
		.genres_div
		{
			h5:nth-child(n)
			{
				text-align: center;
			}
			border-width: 3px;
			border-bottom-style: solid;
		}
		.categories_div
		{
			h5:nth-child(n)
			{
				text-align: center;
			}
			border-width: 3px;
			border-bottom-style: solid;
		}
	}
	.central
	{ 
		list-style-type:none;
		text-align: center;
		padding: 0px 0px 5px 5px;
		@include span-columns(7.4); 
		border-left-style: solid; 
		border-right-style: solid;
		border-width: 3px; 
		.central_panel
		{
			border-bottom-style: solid;
			border-width: 2px;
			.central_upper_panel
			{
				width: 100%;
				.genre_tagging
				{
					float: left;
					width: 25%;
					height: 30px;
					margin-top: 3px;
					border-left-style: solid; 
					border-right-style: solid;
					border-top-style: solid; 
					border-bottom-style: solid;
					border-width: 1px;
				}
				.fact_type_tagging
				{
					float: left;
					width: 25%;
					height: 30px;
					margin-top: 3px;
					border-left-style: solid; 
					border-right-style: solid;
					border-top-style: solid; 
					border-bottom-style: solid;
					border-width: 1px;
				}
				.category_tagging
				{
					float: left;
					width: 25%;
					height: 30px;
					margin-top: 3px;
					border-left-style: solid; 
					border-right-style: solid;
					border-top-style: solid; 
					border-bottom-style: solid;
					border-width: 1px;
				}
				.post_date_tagging
				{
					float: left;
					width: 25%;
					height: 30px;
					margin-top: 3px;
					border-left-style: solid; 
					border-right-style: solid;
					border-top-style: solid; 
					border-bottom-style: solid;
					border-width: 1px;
				}
			}
			.central_lower_panel
			{
				width: 100%;
				border-bottom-style: solid;
				border-width: 3px;
				.topic_search
				{
					float: left;
					width: 75%;
					height: 40px;
					border-left-style: solid; 
					border-right-style: solid;
					border-top-style: solid; 
					border-bottom-style: solid;
					border-width: 1px;
				}
				.topic_tagging
				{
					float: left;
					width: 25%;
					height: 40px;
					border-left-style: solid; 
					border-right-style: solid;
					border-top-style: solid; 
					border-bottom-style: solid;
					border-width: 1px;
				}
			}
		}      
		.shared_panel
		{
			border-bottom-style: solid;
			border-width: 3px;
		}
	}
	.main_panel
	{ 
		text-align: center;
	}
	.right_sidebar
	{ 
		@include span-columns(1.8);
		text-align: center;
		border-width: 3px;  
		.fact_types_div
		{
			h5:nth-child(n)
			{
				text-align: center;
			}
			border-width: 3px;
			border-bottom-style: solid;
		}      
		.fact_posting_dates_div
		{
			h5:nth-child(n)
			{
				text-align: center;
			}
			border-width: 3px;
			border-bottom-style: solid;
		}  
	}
}
