// Place all the styles related to the forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "imports";

// Rails side SCSS
body.ember-application.forum.show main
{
	@include outer-container;
	div:nth-child(3n)
	{
		@include omega;
	}
  p.error
	{
		color: $red;
		font-size: 10px;
	}
}

