// Place all the styles related to the forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "imports";

.inner_info_button
{
	text-align: center;
	font-weight: bold;
	border-left-style: solid; 
	border-right-style: solid;
	border-top-style: solid; 
	border-bottom-style: solid;
	border-width: 1px;
}
.tag_listing
{
	list-style-type:none;
	text-align: center;
	li:nth-child(n)
	{
		margin-top: 7px;
		margin-bottom: 7px;
	}
}
.tag_listing_hidden
{
	width: 100%;
}
// Standard size
.input_block_type1
{
	width: 100%;
	line-height: 40px; 
	text-align: left;
	height: 40px;
	.first_label
	{
		float: left;
		vertical-align: middle;
		width: 15%;
		height: 100%;
	}
	input:nth-child(n)
	{
		float: left;
		width: 50%;
		height: 100%;
	}
	.second_label
	{
		text-align: left;
		float: left;
		width: 30%;
		height: 100%;
		font-size: 80%;
	}
}

.input_block_type2
{
	width: 100%;
	line-height: 40px; 
	text-align: left;
	height: 40px;
	.first_label
	{
		float: left;
		vertical-align: middle;
		width: 30%;
		height: 100%;
	}
	input:nth-child(n)
	{
		float: left;
		width: 50%;
		height: 100%;
	}
	.second_label
	{
		text-align: left;
		float: left;
		width: 15%;
		height: 100%;
		font-size: 80%;
	}
}

.input_block_type3
{
	width: 100%;
	line-height: 40px; 
	text-align: left;
	height: 40px;
   border-style: solid;
	border-width: 3px; 
	.first_label
	{
		float: left;
		vertical-align: middle;
		width: 20%;
		height: 100%;
	}
	input:nth-child(n)
	{
		float: left;
		width: 50%;
		height: 100%;
	}
	.second_label
	{
		text-align: left;
		float: left;
		width: 20%;
		height: 100%;
		font-size: 80%;
	}
}

.input_block_typeUser
{
	width: 100%;
	line-height: 40px; 
	text-align: left;
	height: 40px;
	.first_label
	{
		float: left;
		vertical-align: middle;
		width: 20%;
		height: 100%;
	}
	input:nth-child(n)
	{
		float: left;
		width: 50%;
		height: 100%;
	}
	.second_label
	{
		text-align: left;
		float: left;
		width: 30%;
		height: 100%;
		font-size: 80%;
	}
}
.input_block_checkbox_typeUser
{
	width: 100%;
	line-height: 40px; 
	text-align: left;
	height: 40px;
	.first_label
	{
		float: left;
		vertical-align: middle;
		width: 20%;
		height: 100%;
	}
	input:nth-child(n)
	{
		float: left;
		width: 2%;
		height: 100%;
	}
	.second_label
	{
		text-align: left;
		float: left;
		width: 50%;
		height: 100%;
		font-size: 80%;
	}
}
