// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "imports";

// SCSS for Create Template

.show_extra_form
{
	font-weight: bold;
	border-left-style: solid; 
	border-right-style: solid;
	border-top-style: solid; 
	border-bottom-style: solid;
	border-width: 1px;
}
.show_extra_form
{
	font-weight: bold;
	border-left-style: solid; 
	border-right-style: solid;
	border-top-style: solid; 
	border-bottom-style: solid;
	border-width: 1px;
}
.show_password_form
{
	font-weight: bold;
	border-left-style: solid; 
	border-right-style: solid;
	border-top-style: solid; 
	border-bottom-style: solid;
	border-width: 1px;
}
// SCSS for Show Template

.user_show
{
	width: 100%;
	.user_show_left
	{
		width: 35%;
		float: left;
		.basic_info_div
		{
			text-align: left;
			border-left-style: solid; 
			border-right-style: solid;
			border-top-style: solid; 
			border-bottom-style: solid;
			border-width: 1px;
			.inner_label
			{
				font-weight: bold;
			}
			.inner_edit_info
			{
				text-align: center;
				font-weight: bold;
				border-left-style: solid; 
				border-right-style: solid;
				border-top-style: solid; 
				border-bottom-style: solid;
				border-width: 1px;
			}
			.inner_heading
			{
				text-align: center;
			}
		}
	}
	.user_show_right
	{
		width: 65%;
		float: right;
		.posts_info_div
		{
			border-left-style: solid; 
			border-right-style: solid;
			border-top-style: solid; 
			border-bottom-style: solid;
			border-width: 1px;
			.inner_heading
			{
				text-align: center;
			}
			.posts_ul
			{
				text-align: center;		
				height: 100px;	
				list-style-type:none;
    			overflow-y: scroll;
    			overflow-x: hidden;
			}
		}
		.comments_info_div
		{
			border-left-style: solid; 
			border-right-style: solid;
			border-top-style: solid; 
			border-bottom-style: solid;
			border-width: 1px;
			.inner_heading
			{
				text-align: center;
			}
			.comments_ul
			{
				text-align: center;		
				height: 100px;	
				list-style-type:none;
    			overflow-y: scroll;
    			overflow-x: hidden;
			}
		}
		.links_info_div
		{
			border-left-style: solid; 
			border-right-style: solid;
			border-top-style: solid; 
			border-bottom-style: solid;
			border-width: 1px;	
			height: 100px;	
			.inner_heading
			{
				text-align: center;
			}
		}
	}
}
