/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */ 
 
@import "imports";


body.ember-application main {
  padding-bottom: 25px;
  padding-top: 25px;

  fieldset {
    background-color: #fff;
    border-radius: 5px;

    .actions {
      @include span-columns(12);

      height: 0px;

      input {
        margin-top: -3px;
      }
    }
  }
    height:100%;
    height:200px;
}
