<h2>New Comment</h2>
<form>
	<div class="input_block_type1">
		<label class="first_label">Text:</label>
		<label class="input_wrapper">{{input value=text}}</label>
		<label class="second_label">{{verifyText}}</label>
	</div><br/>
  <button class="button_type1" {{action "create"}}>Create</button>
</form>