<h2>Genres Management</h2>
<ul>
    {{#each model as |genre|}}
      <li>{{#link-to 'genre' genre}}{{capitalize genre.name}}{{/link-to}}</li>
    {{/each}}
</ul>

{{#if session.isAuthenticated}}
  {{#link-to 'genres.create' class="button_type1_normal"}}Create Genre{{/link-to}}
{{else}}
  <p>Please login to create a genre</p>
{{/if}}
