<h1>Genres Management</h1>
<ul>
    {{#each model as |genre|}}
      <li>{{#link-to 'genre' genre}}{{genre.name}}{{/link-to}}</li>
    {{/each}}
</ul>

{{#if session.isAuthenticated}}
	<p class="inner_info_button">{{#link-to 'genres.create'}}Create Genre{{/link-to}}</p>
{{else}}
	<p>Please login to create a genre</p>
{{/if}}