<h2><b>{{model.name}} Topic</b></h2>
<p>Number of Posts using this tag: <b>{{model.posts_count}}</b></p>
{{#if session.isAuthenticated}}
  {{#if session.currentUser.is_admin}}
    <p>{{#link-to 'topics.topic.edit' }}Edit Topic{{/link-to}}</p>
  {{else}}
    <label class="login_required_warning">Only Admins can edit</label>
  {{/if}}
{{else}}
  <label class="login_required_warning">Please Login</label>
{{/if}}
